datasets==4.8.4
docx2pdf==0.1.8
fastembed==0.8.0
fitz==0.0.1.dev2
imgkit==1.2.3
langchain_text_splitters==1.1.2
loguru==0.7.3
markdown2==2.5.5
openai==2.33.0
pdf2image==1.17.0
pdfplumber==0.11.9
Pillow==12.2.0
playwright==1.59.0
pydantic==2.13.3
python-dotenv==1.2.2
python_docx==1.2.0
PyYAML==6.0.3
qdrant_client==1.17.1
Requests==2.33.1
tqdm==4.67.3
